.movie-card {
	background-color: #000;
	color: #fff;
	padding: 20px;
	display: flex;
}
.desc {
	padding: 10px;
}

h2 {
	color: yellow;
}

.moviePic {
	height: auto;
	width: auto;
	opacity: 0.7;
}

.movieDetail {
	position: relative;
	top: 10px;
	left: 5px;
	width: 100%;
	text-align: left;
	font-size: 20px;
}

ul {
	padding: 20px;
}